### 02-9 연습문제
---

In [4]:
# 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.
# 과목	점수
# 국어(a)	80
# 영어(b)	75
# 수학(c)	55
a = 80
b = 75
c = 55

sum = a + b + c
ave = sum / 3
print(ave)

70.0

In [6]:
# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

input_data = int(input("정수 입력: "))
if input_data % 2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

In [7]:
# 홍길동 씨의 주민등록번호는 881120-1068234이다. 
# 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

hong = "881120-1068234"
split_hong = hong.split("-")
print(split_hong)

['881120', '1068234']

In [16]:
# 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 
# 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
# ※ 문자열 인덱싱을 사용해 보자.

pin = "881120-1068234"
splite_pin = pin.split("-")
splite_pin[1][0]

'1'

In [22]:
# 다음과 같은 문자열 a:b:c:d가 있다.
# 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"

a.replace(':',"#")

'a#b#c#d'

In [28]:
# [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
# ※ 리스트의 내장 함수를 사용해 보자.

a = [1, 3, 5, 4, 2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [64]:
# 😢['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
# ※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.


list = ['Life', 'is', 'too', 'short']
" ".join(list)

'Life is too short'

In [40]:
# (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
# ※ 더하기(+)를 사용해 보자.

a = (1,2,3)
b = (4, )
a + b

(1, 2, 3, 4)

In [44]:
# 다음과 같은 딕셔너리 a가 있다.
a = dict()
a # {}
# 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
# a['name'] = 'python'
# a[('a',)] = 'python'
# a[[1]] = 'python'
# a[250] = 'python'

# 정답 : a[[1]]
# 이유 : key 값에는 리스트([])가 올 수 없음

In [51]:
# 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
# a = {'A':90, 'B':80, 'C':70}
# ※ 딕셔너리의 pop 함수를 사용해 보자.

a = {'A':90, 'B':80, 'C':70}

# a["B"]
a.pop("B")

80

In [53]:
# a 리스트에서 중복 숫자를 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

set(a)

{1, 2, 3, 4, 5}

In [54]:
# 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 
# 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?
# 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

a = b = [1, 2, 3]
a[1] = 4
print(b)

# 같이 id 주소값을 할당하기 때문에 같이 변경이 된다.

[1, 4, 3]